.NavHeader {
    margin: 0px;
    padding: 25px;
    height: 50px;
    background-color: rgb(28, 21, 36);
    color: rgb(255, 213, 158);
    font-size: 30px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.NavHeaderTitle {
    height: 100%;
    width: 300px;
    float: left;
    text-align: center;
    align-items: center;
    background-color: rgb(28, 21, 36);
    color: rgb(255, 213, 158);
    font-size: 40px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.NavHeaderButton {
    height: 100%;
    width: 200px;
    float: right;
    text-align: center;
    align-items: center;
    background-color: rgb(28, 21, 36);
    color: rgb(255, 213, 158);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}